#Spring Boot
DB_URL = jdbc:postgresql//localhost:5432/bookstore_db
DB_USERNAME = postgres
DB_PASSWORD  = your_password
JWT_SECRET = your_32_character_random_string_here
PORT = 8080
#Flutter
BASE_URL = http://ip:8080/api
